body {
    background: black url("background.jpg") center/cover no-repeat;
    margin: 0;
    font-family: sans-serif;
}

header {
    background: linear-gradient(to bottom, rgb(54, 54, 92), rgb(7, 4, 12));
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.1s;
}

nav li {
    margin: 0 10px;
}

nav li a {
    display: block;
    transition: transform 0.1s;
}

nav li a:hover {
    transform: translateY(5px);
}

nav li img {
    max-width: 30px;
    height: auto;
}

.imagem-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagem-container img {
    max-width: 80%;
    height: auto;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s, transform 1s;
}

.imagem-container.mostrar img {
    opacity: 1;
    transform: translateY(0);
}

.logo-container {
    margin-right: 20px;
}

.logo {
    max-width: 100px;
    height: auto;
    filter: blur(1px);
    transition: filter 0.3s;
}

.logo:hover {
    filter: blur(0);
}

/* Menu suspenso */
#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav {
        justify-content: flex-start;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav li {
        margin: 10px 0;
    }

    .logo {
        max-width: 80px;
    }

    .menu-icon {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    #menu-toggle:checked + nav ul {
        display: flex;
    }

    nav li {
        width: 100%;
        text-align: center;
    }
}
